* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(135deg, #900869, #3a011a);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-container {
    background-color: #d8bdbd;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgb(252, 251, 251);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 1rem;
    color: #0f0d0d;
}

.input-group {
    margin-bottom: 1.2rem;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #030303;
    border-radius: 10px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #520552;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #480440;
}

.result {
    margin-top: 1.5rem;
    font-size: 18px;
    color: #0e0d0d;
}